# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
mobile/node_modules/
web/node_modules/

# Expo
.expo/
mobile/.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Vite
web/dist/
web/.vite/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.build
mobile/.env
web/.env
web/.env.local
web/.env.build

# typescript
*.tsbuildinfo

# logs
*.log
ts_errors.log

# generated native folders
/ios
/android
mobile/ios/
mobile/android/

# IDE
.vscode/
.idea/
